li{
    color: blue;
}

.b{
    max-width: 1250px;
    margin: 0 auto;
}

.section-card{
    background-color: bisque;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 30px;
    border: 5px solid greenyellow;
}